<div [class]="cardClasses">
    <div class="stats-content">
        <div class="stats-header">
            <div class="stats-info">
                <div class="stats-title">{{ stat.title }}</div>
                <div class="stats-value">{{ stat.value }}</div>
                <div *ngIf="stat.subtitle" class="stats-subtitle">{{ stat.subtitle }}</div>
            </div>
            <div [class]="iconClasses">
                <img *ngIf="isImageIcon(stat.icon)" [src]="stat.icon" [alt]="stat.title" class="icon-image">
                <span *ngIf="!isImageIcon(stat.icon)">{{ stat.icon }}</span>
            </div>
        </div>
    </div>
</div>